# location: /etc/systemd/system/
[Unit]
Description = Firewall Up script to rais iptables
After = network.target

[Service]
# make sure the shell script is executable (chmod +x $1)
# and it begins with a shebang (#!/bin/bash)
ExecStart   = /usr/bin/fwup

# In my example script I start a node server,
# So tell the serive how to kill it / reload.
ExecStop    = /usr/bin/fwclr
ExecReload  = /usr/bin/fwup

# In case if it gets stopped, restart it immediately
#Restart     = always


# With notify Type, service manager will be notified
# when the starting up has finished
Type        = notify

# Since Type is notify, notify only service updates
# sent from the main process of the service
NotifyAccess= main

[Install]
# multi-user.target corresponds to run level 3
# roughtly meaning wanted by system start
WantedBy = default.target
